<style>
   #wrap {
   width:auto;
   margin:0 auto;
}
#left_col {
   float:left;
   width:800px;
}
#right_col {
   float:right;
   width:200px;
}
</style>

<title>tags</title>
<div class="container ng-scope" style="padding-left: 15px; width: 1500px;">
  <div id="wrap">
  
    <div id="left_col">  
    <!--tags search -->
      <table class="table table-hover" ng-show="linksByTag.length > 0">
		<thead>
			<tr style="text-align: center;">
				<th><h3>Result search of tags</h3></th>
			</tr>
		</thead>
		<tbody>
		   <tr ng-repeat="link in linksByTag">
				<td>
				  	Tag:<button type="button" class="btn btn-link" ng-click="searchTag(link.tag)">{{link.tag}}<span class="badge">1</span></button><br>
				  	Frome:<button type="button" class="btn btn-link"
				  	 ng-click="searchAuthor(link.user.idUser)">{{link.user.lastName}}_{{link.user.firstName}}<span class="badge">2</span></button><br>
					Comment:{{link.comment}}	
				</td>
				<td>
					<a href="link.fullUrl">{{link.shortUrl}}<span class="badge"></span></a><br>
				</td>
			</tr>
	   </table>
	   <!--authors search -->
	   <table class="table table-hover" ng-show="linksByAuthor.length > 0">
		<thead>
			<tr style="text-align: center;">
				<th><h3>Result search of authors</h3></th>
			</tr>
		</thead>
		<tbody>
		   <tr ng-repeat="link in linksByAuthor">
		   	  <td>
			  	Tag:<button type="button" class="btn btn-link" ng-click="searchTag(link.tag)">{{link.tag}}<span class="badge">1</span></button><br>
			  	Frome:<button type="button" class="btn btn-link"
			  	 ng-click="searchAuthor(link.user.idUser)">{{link.user.lastName}}_{{link.user.firstName}}<span class="badge">2</span></button><br>
				Comment:{{link.comment}}
			  </td>
			  <td>
				 <a href="link.fullUrl">{{link.shortUrl}}<span class="badge"></span></a><br>
			   </td>
			</tr>
		</table>
    </div>
    
    <div id="right_col">
      <!--all tags  -->
      <table class="table table-hover" ng-show="tags.length > 0">
		<thead>
			<tr>
				<th><h3>Tags</h3></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="tag in tags">
				<td>
				   <button class="btn btn-primary btn-xs" role="button" ng-click="searchTag(tag)">{{tag}}</button>
				</td>
			</tr>
		</tbody>
	  </table> 
    </div>
    
   </div>
</div>