<style>
   #wrap {
   width:auto;
   margin:0 auto;
}
#left_col {
    float:left;
   width:800px;
}
#right_col {
    float:right;
   width:200px;
}
</style>

<title>UserLinks</title>
<div class="container ng-scope" style="padding-left: 15px; width: 1500px;">
  <div id="wrap">
  
    <div id="left_col">  
      <table class="table table-hover" ng-show="linksByTag.length > 0">
		<thead>
			<tr style="text-align: center;">
				<th><h3>Result search of tags</h3></th>
			</tr>
		</thead>
		<tbody>
		   <tr ng-repeat="linkHistory in linksHistory">
				<td>
					Click info:<span class="badge">linkHistory.sumClick</span>
					Last create: {{linkHistory.lastCreate| date}}
					Ip address:	linkHistory.ipAddress
				  	Tag:<button type="button" class="btn btn-link" 
				  	ng-click="searchTag(linkHistory.link.tag)">{{linkHistory.link.tag}}<span class="badge"></span></button><br>
				  	Comment:{{linkHistory.link.comment}}
				  	<!--
				  	Update:<button type="button" class="btn btn-link" 
				  	ng-click="updateLink(linkHistory.idLinkHistory)">Click here..<span class="badge"></span></button><br>
				  	-->
				</td>
				<td>
					<a href="link.fullUrl">{{link.shortUrl}}<span class="badge"></span></a><br>
				</td>
			</tr>
		</tbody>
	 </table>
	</div>
    
    <div id="right_col">
        <div class="rightmenu" style="width: 1100px;">
		   <div class="col-md-3">
		      <ul class="pager">
		        <li><a href="#" ng-click="getAllUserLink({{id}})">Show my links</a></li>
		      </ul>
		      <ul class="pager">
		        <li><a href="#" >-----</a></li>
		      </ul> 
		   </div>
	    <div class="clearfix visible-lg"></div>
   	   </div>
   </div>
    
   </div>
</div>