<style>
   #wrap {
   width:auto;
   margin:0 auto;
}
#left_col {
    float:left;
   width:800px;
}
#right_col {
    float:right;
   width:200px;
}
</style>

<title>userAccount</title>
<div class="container ng-scope" style="padding-left: 15px; width: 1500px;">
  <div id="wrap">
  
  <div id="left_col">
 llll
  </div>
  
   <div id="right_col">
    <div class="rightmenu" style="width: 1100px;">
	   <div class="col-md-3">
	      <ul class="nav nav-pills nav-stacked">
	        <li class="active"><a href="#/user/addCorespondence/">My corespondence</a></li>
	      </ul>
	      <ul class="nav nav-pills nav-stacked">
	        <li class="active"><a href="#/link/userLinks">My links</a></li>
	      </ul>
	      <ul class="nav nav-pills nav-stacked">
	        <li class="active"><a href="#/link/newLink">Reduce link</a></li>
	      </ul>
	   </div>
	   <div class="clearfix visible-lg"></div>
   </div>
   </div>
   
  </div>
</div>